<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <section id='digital-proto'>
      <div class='container'>
        <h1>
          <div class='title-light'>
            Service Oriented Design
          </div>
        </h1>
        <h2 data-sr='enter top please, and hustle 20px'>Conciere service</h2>
        <p data-sr='wait 0.4s and then ease-in-out 100px'>
          When you order a custom guitar, a concierge will be assigned to you and will orchestrate the process. You can call or email your concierge at any time.
        </p>
        <p data-sr='wait 0.4s and then ease-in-out 100px'>
          We believe the
          <i>experience</i>
          of buying a guitar should be personal and exciting - and most importantly, helps us create
          <b>the</b>
          perfect guitar for
          <b>you</b>
          .
        </p>
        <h3>Now that is service oriented</h3>
        <h2 data-sr='enter top please, and hustle 20px'>
          Digital Prototype
        </h2>
        <p data-sr='wait 0.4s and then ease-in-out 100px'>
          Dream of your perfect guitar - then use our tool chain to help you design it.
          All you need is desire and a little skill.
          Use the open source tools we provide.
        </p>
        <div class='alert alert-success' data-sr='wait 0.4s and then ease-in-out 100px'>
          <b>
            Download Pixelator and/or Photoshop files
          </b>
          <a target="_blank" class="btn btn-success pull-right" href="http://voodoo.github.io/guitar-tools/">Files</a>
        </div>
        <p data-sr='wait 0.4s and then ease-in-out 100px'>
          If you would like, or you are not familiar with the tools, let us help you. After all, that is just one of the things that seperates
          <b>Sharktail Guitars</b>
          from the rest. We are service oriented.
        </p>
        <h2 data-sr='enter top please, and hustle 20px'>
          Physical Prototype
        </h2>
        <p data-sr='wait 0.4s and then ease-in-out 100px'>
          If a picture is worth a 1000 words then a prototype is worth at least a million.
        </p>
        <p data-sr='wait 0.4s and then ease-in-out 100px'>
          We'll use your order details to create a physical prototype, which we will send you to try on.
        </p>
      </div>
    </section>
  </body>
</html>
