<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- *** START ANIMATIONS SECTION *** -->
    <section id='animations'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-6 text-center'>
            <img alt='img' class='img-responsive image-back' data-sr='wait 0.4s and then ease-in-out 100px' src='img/Detailed1.png'>
              <img alt='img' class='img-responsive image-front' data-sr='wait 0.4s and then ease-in-out 100px' src='img/Detailed2.png'>
            </img>
          </div>
          <div class='col-md-6'>
            <div class='title-light-left'>
              <!-- TITLE -->
              <h2 data-sr='wait 0.4s and then ease-in-out 100px'>Super-sweet animations.</h2>
              <!-- CONTENT -->
              <p data-sr='wait 0.4s and then ease-in-out 100px'>Did you notice the animations? Those trigger on the position of the scrollbar to the right. It is extremely easy to setup, all you need to do is choose the animation and the place you want it to trigger from.</p>
              <div class='more' data-sr='wait 0.4s and then ease-in-out 100px'>
                <a data-toggle='modal' href='#modal-more'>
                  Learn more
                  <i class='fa fa-angle-right'></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- *** END ANIMATIONS SECTION *** -->
  </body>
</html>
