!!!
%html{:lang => "en-us"}
  %head
    %meta{:charset => "utf-8"}
      %title Custom Modern Ergonomic Guitars
    %meta{:content => "Custom Modern Guitars", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "author"}
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => url_for("/images/logo.png"), :rel => "shortcut icon", :type => "image/x-icon"}/
    = stylesheet_link_tag "bootstrap.min"
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    %script(src="/javascripts/jq-hash-serialize.js")

  %body(data-spy="scroll" data-target=".navbar-default")
    / *** START NAVIGATION ***
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .navbar-inner
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{"data-scroll" => "", :href => "/"}
            %img{:src => url_for("/img/shark/logo/small.png"), class: 'img-responsive'}
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{"data-scroll" => "", :href => "#builder"} Guitar Builder       
            %li
              %a{"data-scroll" => "", :href => "#body"} Body      
            %li
              %a{"data-scroll" => "", :href => "#neck"} Neck
            %li
              %a{"data-scroll" => "", :href => "#head"} Head  
            %li
              %a{:href => "#", class: 'aBookmarklet'} [Save]
            %li
              %small.navbar-text.text-muted.hidden-sm.hidden-xs &lt;-- Drag "[Save]" to your bookmarks                
    %a(name="builder")
    .container= yield
    = javascript_include_tag "/js/bootstrap.min.js", "/javascripts/jq-query.js", "/javascripts/builder.js", "/javascripts/jq-hash-serialize.js"


