/ *** START NAVIGATION ***
%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .navbar-inner
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{"data-scroll" => "", :href => "#home"}
        = image_tag "/images/logo.png"
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{"data-scroll" => "", :href => "#home"} Sharktail      
        %li
          %a{"data-scroll" => "", :href => "#overview"} Guitars
        %li
          %a{"data-scroll" => "", :href => "#packages"} Modern
        %li
          %a{"data-scroll" => "", :href => "#ergo-gallery"} Ergonomic
        %li
          %a{"data-scroll" => "", :href => "#scene"} See
        %li
          = link_to "Build", "http://builder.sharktailguitars.com", target: '_blank'
        %li
          %a{:href => "http://talk.sharktailguitars.com", target: '_blank'} Talk                  
