<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- *** START DETAIL SECTION *** -->
    <section class='bg-grey' id='features'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='title-light text-center'>
              <!-- TITLE -->
              <h2 data-sr='enter left please, and hustle 20px'>Brilliant Features</h2>
              <!-- CONTENT -->
              <p class='col-md-6 col-md-offset-3' data-sr='wait 0.4s and then ease-in-out 100px'>Here are several causes that make our template worth paying attention to</p>
            </div>
          </div>
          <div class='col-md-4'>
            <div class='col-md-12'>
              <!-- TITLE -->
              <h5 data-sr='wait 0.4s and then ease-in-out 100px'><i class='fa fa-laptop ico1'></i>Responsive design
              </h5>
              <!-- CONTENT -->
              <p data-sr='wait 0.4s and then ease-in-out 100px'>Your project looks great on any device. CONTENT can be easily read and a user understands freely what you wanted to say him or her.</p>
            </div>
            <div class='col-md-12'>
              <!-- TITLE -->
              <h5 data-sr='wait 0.4s and then ease-in-out 100px'><i class='fa fa-paint-brush ico1'></i>Customization
              </h5>
              <!-- CONTENT -->
              <p data-sr='wait 0.4s and then ease-in-out 100px'>Customizing it to fit the needs of your app has never been easier.</p>
            </div>
            <div class='col-md-12'>
              <!-- TITLE -->
              <h5 data-sr='wait 0.4s and then ease-in-out 100px'><i class='fa fa-cube ico1'></i>Gorgeous design
              </h5>
              <!-- CONTENT -->
              <p data-sr='wait 0.4s and then ease-in-out 100px'>With carefully thought-out design, Fakia looks great on any device.</p>
            </div>
          </div>
          <div class='col-md-4 text-center none' data-sr='wait 0.4s and then ease-in-out 0px'>
            <img alt='features' class='img-responsive' src='img/features/1.png'>
          </div>
          <div class='col-md-4'>
            <div class='col-md-12'>
              <!-- TITLE -->
              <h5 data-sr='wait 0.4s and then ease-in-out 100px'><i class='fa fa-gift ico1'></i>Pure & Simple
              </h5>
              <!-- CONTENT -->
              <p data-sr='wait 0.4s and then ease-in-out 100px'>No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.</p>
            </div>
            <div class='col-md-12'>
              <!-- TITLE -->
              <h5 data-sr='wait 0.4s and then ease-in-out 100px'><i class='fa fa-database ico1'></i>Documentation
              </h5>
              <!-- CONTENT -->
              <p data-sr='wait 0.4s and then ease-in-out 100px'>The detailed documentation will help you in adjusting the project with little effort according to your requirements.</p>
            </div>
            <div class='col-md-12'>
              <!-- TITLE -->
              <h5 data-sr='wait 0.4s and then ease-in-out 100px'><i class='fa fa-heart ico1'></i>Multiplatform
              </h5>
              <!-- CONTENT -->
              <p data-sr='wait 0.4s and then ease-in-out 100px'>The page is adapted to the most of the popular platform in segment.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- *** END DETAIL SECTION *** -->
  </body>
</html>
