/ *** START ANIMATIONS SECTION ***
%section#animations
  .container
    .row
      .col-md-6.text-center
        %img.img-responsive.image-back{:alt => "img", "data-sr" => "wait 0.4s and then ease-in-out 100px", :src => "img/Detailed1.png"}
          %img.img-responsive.image-front{:alt => "img", "data-sr" => "wait 0.4s and then ease-in-out 100px", :src => "img/Detailed2.png"}
      .col-md-6
        .title-light-left
          / TITLE
          %h2{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Super-sweet animations.
          / CONTENT
          %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Did you notice the animations? Those trigger on the position of the scrollbar to the right. It is extremely easy to setup, all you need to do is choose the animation and the place you want it to trigger from.
          .more{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
            %a{"data-toggle" => "modal", :href => "#modal-more"}
              Learn more
              %i.fa.fa-angle-right
/ *** END ANIMATIONS SECTION ***