/ *** START BUILDT SECTION ***
%section#buildt
  .container.text-center
    .row
      .col-md-12
        .title-light
          / TITLE
          %h2{"data-sr" => "enter top please, and hustle 20px"} Buildt with Bootstrap v3.0
          %h3{"data-sr" => "wait 0.4s and then ease-in-out 100px"} An Elegant Design
          / CONTENT
          %p.col-md-8.col-md-offset-2{"data-sr" => "wait 1.2s and then ease-in-out 100px"}
            Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank.
            %b Andouille
            tongue corned beef rump pork loin shank meatball capicola turducken venison shankle kevin pancetta tri-tip boudin.
      .col-md-12{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
        %img.img-responsive.none{:src => "img/logo-fakia@2.png"}
          .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/Qawba.Official", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true"}
/ *** END BUILDT SECTION ***