/ *** START DETAIL SECTION ***
%section#features.bg-grey
  .container
    .row
      .col-md-12
        .title-light.text-center
          / TITLE
          %h2{"data-sr" => "enter left please, and hustle 20px"} Brilliant Features
          / CONTENT
          %p.col-md-6.col-md-offset-3{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Here are several causes that make our template worth paying attention to
      .col-md-4
        .col-md-12
          / TITLE
          %h5{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
            %i.fa.fa-laptop.ico1>
            Responsive design
          / CONTENT
          %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Your project looks great on any device. CONTENT can be easily read and a user understands freely what you wanted to say him or her.
        .col-md-12
          / TITLE
          %h5{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
            %i.fa.fa-paint-brush.ico1>
            Customization
          / CONTENT
          %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Customizing it to fit the needs of your app has never been easier.
        .col-md-12
          / TITLE
          %h5{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
            %i.fa.fa-cube.ico1>
            Gorgeous design
          / CONTENT
          %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} With carefully thought-out design, Fakia looks great on any device.
      .col-md-4.text-center.none{"data-sr" => "wait 0.4s and then ease-in-out 0px"}
        %img.img-responsive{:alt => "features", :src => "img/features/1.png"}
      .col-md-4
        .col-md-12
          / TITLE
          %h5{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
            %i.fa.fa-gift.ico1>
            Pure & Simple
          / CONTENT
          %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} No fluff. Nothing should lead the visitor away from the main essence of website. There must be just important information.
        .col-md-12
          / TITLE
          %h5{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
            %i.fa.fa-database.ico1>
            Documentation
          / CONTENT
          %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} The detailed documentation will help you in adjusting the project with little effort according to your requirements.
        .col-md-12
          / TITLE
          %h5{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
            %i.fa.fa-heart.ico1>
            Multiplatform
          / CONTENT
          %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} The page is adapted to the most of the popular platform in segment.
/ *** END DETAIL SECTION ***