/ *** START COMPATIBILITY SECTION ***
%section#compatibility.bg-grey
  .container.text-center
    .row
      .col-md-12
        .title-light.text-center
          / TITLE
          %h2{"data-sr" => "enter left please, and hustle 20px"} Amazing Compatibility
          / CONTENT
          %p.col-md-6.col-md-offset-3{"data-sr" => "wait 0.4s and then ease-in-out 100px"} This is yet another place to highlight a feature of your awesome app and talk abit about compatibility maybe? Who knows, the decision is yours to make!
      .col-md-10.col-md-offset-1
        .col-md-4.col-sm-4.text-center
          .title-light
            %a{:href => "#"}
              %i.fa.fa-android.ico4{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
              %span{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Download now
        .col-md-4.col-sm-4.text-center
          .title-light
            %a{:href => "#"}
              %i.fa.fa-apple.ico5{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
              %span{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Download now
        .col-md-4.col-sm-4.text-center
          .title-light
            %a{:href => "#"}
              %i.fa.fa-windows.ico6{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
              %span{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Download now
/ *** END DOWNLOAD SECTION ***