
/ *** START FOOTER SECTION ***
%section#footer
  .container.text-center
    .row
      .col-md-12
        / NAV FOOTER
        %ul
          %li
            %a{"data-scroll" => "", :href => "#social"} Stay tuned
          %li
            %a{"data-scroll" => "", :href => "#pricing"} Price
          %li
            %a{"data-scroll" => "", :href => "#newsletter"} Newsletter
          %li
            %a{"data-scroll" => "", :href => "#think"} People Think
          %li
            %a{"data-scroll" => "", :href => "#gallery"} Gallery
        / COPYRIGHT
        %p.copyright
          fakia Landing Page is the best way to present your beautiful mobile app. made by
          %a{:href => "http://www.qawba.com"} Qawba
          %br
            © Copyright 2014
            %a{:href => "http://www.qawba.com"} Qawba.com
            \. All rights reserved.
        / LOGO COMPANY
        %img.logo{:alt => "Logo", :src => "img/logo.png"}
          / NAV FOOTER
          %ul
            %li
              %a{"data-scroll" => "", :href => "#download"}
                Download new
                %i.fa.fa-download
            %li
              %a{"data-scroll" => "", :href => "#home"}
                Back to top
                %i.fa.fa-angle-up
#footerSpacer
/ *** END FOOTER SECTION ***
