/ *** START HEADER ***
%header#home
  .header-bg
    / HEADER TITLE
    .header-title.text-center
      / .logo-phone
      /   %img{:alt => "YOURLOGO", :src => "/images/logo.png"}
      %h1{"data-sr" => "wait 0.4s then scale up 30%"}
        Welcome, players. 
      %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
        Are you ready to create your custom modern ergonomic guitar? 
        %p
          %b Dive in.
    / IMG DISCOVER MORE
    .go-down.col-md-12
      / %a.goto{"data-sr" => "wait 3s and then ease-in-out 150px", :href => "#buildt"}
      /   %i.fa.fa-angle-down
      %img.img-responsive{"data-sr" => "wait 0.4s and then ease-in-out 150px", :src => "/img/shark/etc/tail.png"}
/ *** END HEADER ***