/ *** START OVERVIEW SECTION ***
%section#overview.bg-grey
  .container.text-center
    .row
      .col-md-12
        .title-light
          / TITLE
          %h2{"data-sr" => "enter top please, and hustle 20px"} 
            Your guitar is almost ready
          / CONTENT
          %p.col-md-6.col-md-offset-3{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
            %b Sharktail Guitars 
            is here to help you create your dream guitar ... 
            %br/
            \... your forever guitar 

      .col-md-4.col-sm-4
        .title-light
          %i.fa.fa-heart.ico1{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
          / TITLE
          %h3{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Gorgeous design
        / CONTENT
        %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
          %b and
          ergonomic
      .col-md-4.col-sm-4
        .title-light
          %i.fa.fa-sliders.ico2{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
          / TITLE
          %h3{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Made to order
        / CONTENT
        %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
          have it
          %b your
          way
      .col-md-4.col-sm-4
        .title-light
          %i.fa.fa-newspaper-o.ico3{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
          / TITLE
          %h3{"data-sr" => "wait 0.4s and then ease-in-out 100px"} Modern but traditional
        / CONTENT
        %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
          keep the old but in with the 
          %b new
/ *** END OVERVIEW SECTION ***