/ *** START PACKAGES SECTION ***
%section#packages
  .container.text-center
    .row
      / SECTION HEADER
      .col-md-12
        .title-light.text-center
          / TITLE
          %h2{"data-sr" => "enter left please, and hustle 20px"} 
            Choose your weapon
      .col-md-4.col-sm-4{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
        .single-package
          %h3.package-heading
            Stock
          .price
            %h2
              %span.sign> $
              TBD
              /%span.month /month
          %ul.package-feature
            %li 
              Anything in 
              = link_to "stock", "#stock-gallery","data-scroll" => ""
      .col-md-4.col-sm-4{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
        .single-package
          %h3.package-heading
            Custom
          .price.bg-red
            %h2
              %span.sign> $
              TBD
              /4,999
              /%span.month /month
          %ul.package-feature
            %li 
              Uses
              = link_to "Builder", "#build", "data-scroll" => ""
            %li
              1 Physical Prototype
            %li 1 Digital Prototype
            %li One mockup
            %li One prototype
            /%li 30 day money back gurantee
      / /END SINGLE PACKACGE
      / SINGLE PACKACGE
      .col-md-4.col-sm-4{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
        .single-package
          %h3.package-heading Great White
          .price
            %h2
              %span.sign> $
              TBD
              /9,999 +
              //%span.month /month
          %ul.package-feature
            %li 
              Use 
              = link_to "Builder", "#build", "data-scroll" => "" 
              to start         
            %li Headless
            %li Fanned Frets
            %li Tremolo
            %li Custom pickup configs
            %li Piezo
            %li Two physical prototypes
            %li Multiple digital prototypes
            %li Conciere service
            /%li 30 day money back gurantee
      / /END SINGLE PACKACGE
/ *** END PACKAGES SECTION ***