/ *** START PEOPEL THINK SECTION ***
%section#think.bg-grey
  .container
    .row
      .col-md-12
        .title-light.text-center
          / TITLE
          %h2{"data-sr" => "enter left please, and hustle 20px"} What the people think ?
          / CONTENT
          %p.col-md-6.col-md-offset-3{"data-sr" => "wait 0.4s and then ease-in-out 100px"} We love feedback ! It allows us to question ourselves, do not hesitate to give us your.
      .col-md-12.text-center
        #people-think.carousel.slide{"data-ride" => "carousel"}
          / Indicators
          %ol.carousel-indicators
            %li.active{"data-slide-to" => "0", "data-target" => "#people-think"}
            %li{"data-slide-to" => "1", "data-target" => "#people-think"}
          / Wrapper for slides
          .carousel-inner{:role => "listbox"}
            .item.active
              %img.img-circle.img-responsive.none{:src => "img/think/1.png"}
                .carousel-caption
                  %h3 Francis Martinez
                  %span via Twitter 5 days ago
                  %p Interdum et malesuada fames ac ante ipsum primis in faucibus..
            .item
              %img.img-circle.img-responsive.none{:src => "img/think/2.png"}
                .carousel-caption
                  %h3 Manon Deluxe
                  %span via FeedMe 7 days ago
                  %p Interdum et malesuada fames ac ante ipsum primis in faucibus.
/ *** END PEOPEL THINK SECTION ***