/ *** START PRICING SECTION ***
%section#pricing
  .pricing-tr
    .container.text-center
      .row
        .col-md-12
          / TITLE
          %h4{"data-sr" => "enter left please, and hustle 20px"} Finally! Simple and fair pricing.
          / CONTENT Pricing
          %h1{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
            $ 4
            %span> .
            99
/ *** END PRICING SECTION ***