/ *** START GALLERY SECTION ***
%section#talk
  .container
    .row
      .col-md-12
        %h1.page-header 
          Talk!
          %small about building and designing guitars
        %ul
          %li Talk about designs
          %li Talk about builds
          %li Talk about all things guitar
        %h1 COMING SOON

