%section#digital-proto
  .container
    %h1 
      Service Oriented
      %small.text-muted Sharktail guitars is 

    %h2{"data-sr" => "enter top please, and hustle 20px"} 
      Digital Prototype
    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
      Dream of your perfect guitar - then use our tool chain to help you design it. 
      All you need is desire and a little skill.
      Use the open source tools we provide. 
    .alert.alert-success{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
      %b       
        Download Pixelator and/or Photoshop files
      = link_to "Files","http://voodoo.github.io/guitar-tools/", target: '_blank', class: 'btn btn-success pull-right'   
    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
      If you would like, or you are not familiar with the tools, let us help you. After all, that is just one of the things that seperates 
      %b Sharktail Guitars 
      from the rest. We are service oriented.        

    %h2{"data-sr" => "enter top please, and hustle 20px"} 
      Physical Prototype
    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
      If a picture is worth a 1000 words then a prototype is worth at least a million. 
    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
      We'll use your order details to create a physical prototype, which we will send you to try on.   

    %h2{"data-sr" => "enter top please, and hustle 20px"} Conciere service
    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"} 
      When you order a custom guitar, a concierge will be assigned to you and will orchestrate the process. You can call or email your concierge at any time. 

    %p{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
      Now that is service oriented. We believe the 
      %i experience
      of buying a guitar should be personal and exciting - and most importantly, helps us create
      %b the
      perfect guitar for
      %b you
      \.         
        