
/ *** START SOCIAL SECTION ***
%section#social
  .container_fluid
    .row
      .col-md-12
        .title-dark.text-center
          / TITLE
          %h2{"data-sr" => "enter left please, and hustle 20px"} Stay tuned
      .col-md-12{"data-sr" => "wait 0.4s and then ease-in-out 100px"}
        %ul.list
          / GITHUB
          %li.col-md-12
            %a{:href => "https://github.com/voodoo"}
              %i.fa.fa-github        
          %li.col-md-2
            %a{:href => "http://google.com/+PaulVudmaska"}
              %i.fa.fa-google-plus

          / / TWITTER
          / %li.col-md-2
          /   %a{:href => "#"}
          /     %i.fa.fa-twitter
          / / FACEBOOK
          / %li.col-md-2
          /   %a{:href => "#"}
          /     %i.fa.fa-facebook
          / / DRIBBBLE
          / %li.col-md-2
          /   %a{:href => "#"}
          /     %i.fa.fa-dribbble
          / / GOOGLE PLUS
          / %li.col-md-2
          /   %a{:href => "#"}
          /     %i.fa.fa-google-plus
          / / INSTAGRAM
          / %li.col-md-2
          /   %a{:href => "#"}
          /     %i.fa.fa-instagram
          / / PINTEREST
          / %li.col-md-2
          /   %a{:href => "#"}
          /     %i.fa.fa-pinterest
/ *** END SOCIAL SECTION ***