<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <section class='bg-grey' id='stock-gallery'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='title-light text-center'>
              <h2 data-sr='enter left please, and hustle 20px'>
                Sharktails In Stock
              </h2>
              <p class='col-md-6 col-md-offset-3' data-sr='wait 0.4s and then ease-in-out 100px'>
                on hand ready for purchase
              </p>
            </div>
          </div>
          <div class='col-md-3' data-sr='wait 0.4s and then ease-in-out 100px'>
            <a title="Manta" class="swipebox" href="../../../img/shark/galleries/stock/manta.png">Manta
            <img class="img-responsive" src="../../../img/shark/galleries/stock/thumb/manta.png" />
            </a>
          </div>
          <div class='col-md-3' data-sr='wait 0.4s and then ease-in-out 100px'>
            <a title="Shark" class="swipebox" href="../../../img/shark/galleries/stock/shark.png">Shark
            <img class="img-responsive" src="../../../img/shark/galleries/stock/thumb/shark.png" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
