<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- *** START SOCIAL SECTION *** -->
    <section id='social'>
      <div class='container_fluid'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='title-dark text-center'>
              <!-- TITLE -->
              <h2 data-sr='enter left please, and hustle 20px'>Stay tuned</h2>
            </div>
          </div>
          <div class='col-md-12' data-sr='wait 0.4s and then ease-in-out 100px'>
            <ul class='list'>
              <!-- TWITTER -->
              <li class='col-md-2'>
                <a href='#'>
                  <i class='fa fa-twitter'></i>
                </a>
              </li>
              <!-- FACEBOOK -->
              <li class='col-md-2'>
                <a href='#'>
                  <i class='fa fa-facebook'></i>
                </a>
              </li>
              <!-- DRIBBBLE -->
              <li class='col-md-2'>
                <a href='#'>
                  <i class='fa fa-dribbble'></i>
                </a>
              </li>
              <!-- GOOGLE PLUS -->
              <li class='col-md-2'>
                <a href='#'>
                  <i class='fa fa-google-plus'></i>
                </a>
              </li>
              <!-- INSTAGRAM -->
              <li class='col-md-2'>
                <a href='#'>
                  <i class='fa fa-instagram'></i>
                </a>
              </li>
              <!-- PINTEREST -->
              <li class='col-md-2'>
                <a href='#'>
                  <i class='fa fa-pinterest'></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- *** END SOCIAL SECTION *** -->
  </body>
</html>
