<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- *** START PEOPEL THINK SECTION *** -->
    <section class='bg-grey' id='think'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='title-light text-center'>
              <!-- TITLE -->
              <h2 data-sr='enter left please, and hustle 20px'>What the people think ?</h2>
              <!-- CONTENT -->
              <p class='col-md-6 col-md-offset-3' data-sr='wait 0.4s and then ease-in-out 100px'>We love feedback ! It allows us to question ourselves, do not hesitate to give us your.</p>
            </div>
          </div>
          <div class='col-md-12 text-center'>
            <div class='carousel slide' data-ride='carousel' id='people-think'>
              <!-- Indicators -->
              <ol class='carousel-indicators'>
                <li class='active' data-slide-to='0' data-target='#people-think'></li>
                <li data-slide-to='1' data-target='#people-think'></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class='carousel-inner' role='listbox'>
                <div class='item active'>
                  <img class='img-circle img-responsive none' src='img/think/1.png'>
                    <div class='carousel-caption'>
                      <h3>Francis Martinez</h3>
                      <span>via Twitter 5 days ago</span>
                      <p>Interdum et malesuada fames ac ante ipsum primis in faucibus..</p>
                    </div>
                  </img>
                </div>
                <div class='item'>
                  <img class='img-circle img-responsive none' src='img/think/2.png'>
                    <div class='carousel-caption'>
                      <h3>Manon Deluxe</h3>
                      <span>via FeedMe 7 days ago</span>
                      <p>Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                  </img>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- *** END PEOPEL THINK SECTION *** -->
  </body>
</html>
