<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- *** START OVERVIEW SECTION *** -->
    <section class='bg-grey' id='overview'>
      <div class='container text-center'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='title-light'>
              <!-- TITLE -->
              <h2 data-sr='enter top please, and hustle 20px'>
                Your guitar is almost ready
              </h2>
              <!-- CONTENT -->
              <p class='col-md-6 col-md-offset-3' data-sr='wait 0.4s and then ease-in-out 100px'>
                <b>Sharktail Guitars</b>
                is here to help you create your dream guitar ...
                <br>
                ... your forever guitar
              </p>
            </div>
          </div>
          <div class='col-md-4 col-sm-4'>
            <div class='title-light'>
              <i class='fa fa-heart ico1' data-sr='wait 0.4s and then ease-in-out 100px'></i>
              <!-- TITLE -->
              <h3 data-sr='wait 0.4s and then ease-in-out 100px'>Gorgeous design</h3>
            </div>
            <!-- CONTENT -->
            <p data-sr='wait 0.4s and then ease-in-out 100px'>
              <b>and</b>
              ergonomic
            </p>
          </div>
          <div class='col-md-4 col-sm-4'>
            <div class='title-light'>
              <i class='fa fa-sliders ico2' data-sr='wait 0.4s and then ease-in-out 100px'></i>
              <!-- TITLE -->
              <h3 data-sr='wait 0.4s and then ease-in-out 100px'>Made to order</h3>
            </div>
            <!-- CONTENT -->
            <p data-sr='wait 0.4s and then ease-in-out 100px'>
              have it
              <b>your</b>
              way
            </p>
          </div>
          <div class='col-md-4 col-sm-4'>
            <div class='title-light'>
              <i class='fa fa-newspaper-o ico3' data-sr='wait 0.4s and then ease-in-out 100px'></i>
              <!-- TITLE -->
              <h3 data-sr='wait 0.4s and then ease-in-out 100px'>Modern but traditional</h3>
            </div>
            <!-- CONTENT -->
            <p data-sr='wait 0.4s and then ease-in-out 100px'>
              keep the old but in with the
              <b>new</b>
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- *** END OVERVIEW SECTION *** -->
  </body>
</html>
