<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- *** START GALLERY SECTION *** -->
    <section class='bg-grey' id='ergo-gallery'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='title-light text-center'>
              <!-- TITLE -->
              <h2 data-sr='enter left please, and hustle 20px'>
                A
                <b>Sharktail</b>
                sitting on your lap
              </h2>
              <!-- CONTENT -->
              <p class='col-md-6 col-md-offset-3' data-sr='wait 0.4s and then ease-in-out 100px'>
                multiple ergonomic angles
              </p>
            </div>
          </div>
          <div class='col-md-3' data-sr='wait 0.4s and then ease-in-out 100px'>
            <a title="30" class="swipebox" href="../../../img/shark/angles/30.png"><img class="img-responsive" src="../../../img/shark/angles/30.png" />
            </a>
          </div>
          <div class='col-md-3' data-sr='wait 0.4s and then ease-in-out 100px'>
            <a title="30middle" class="swipebox" href="../../../img/shark/angles/30middle.png"><img class="img-responsive" src="../../../img/shark/angles/30middle.png" />
            </a>
          </div>
          <div class='col-md-3' data-sr='wait 0.4s and then ease-in-out 100px'>
            <a title="45" class="swipebox" href="../../../img/shark/angles/45.png"><img class="img-responsive" src="../../../img/shark/angles/45.png" />
            </a>
          </div>
          <div class='col-md-3' data-sr='wait 0.4s and then ease-in-out 100px'>
            <a title="45wide" class="swipebox" href="../../../img/shark/angles/45wide.png"><img class="img-responsive" src="../../../img/shark/angles/45wide.png" />
            </a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
