<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- ////////////////\\\\\\\\\\\\\\\\ -->
    <!-- ********** Javascript ********** -->
    <!-- \\\\\\\\\\\\\\\\//////////////// -->
    
    <!-- *** *** Libraries jQuery and Bootstrap - Be careful to don't remove *** *** -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    
    
    <!-- *** JavaScript library that detects HTML5 and CSS3 features in the user’s browser *** -->
    <script src="js/modernizr-2.6.2.min.js"></script>
    
    <!-- *** Animated Header *** -->
    <script type="text/javascript" src="js/classie.js"></script>
    <script type="text/javascript" src="js/cbpAnimatedHeader.min.js"></script>
    
    <!-- *** Dynamically-resized, slideshow-capable background image to any page or element *** -->
    <script type="text/javascript" src="js/jquery.backstretch.js"></script>
    
    <!-- *** Swipebox is the jQuery "lightbox" plugin for desktop, mobile and tablet *** -->
    <script type="text/javascript" src="js/jquery.swipebox.js"></script>
    
    <!-- *** Firefly effect *** -->
    <script type="text/javascript" src="js/jquery.firefly-0.3.js"></script>
    
    <!-- *** A lightweight script to animate scrolling to anchor links *** -->
    <script type="text/javascript" src="js/smooth-scroll.js"></script>
    
    <!-- *** Create and maintain how elements fade in, triggered when they enter the viewport *** -->
    <script type="text/javascript" src="js/scrollReveal.js"></script>
    <script>
    $('#customize a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
    
    /* ========================== */
    /* ::::::: Build Form ::::::: */
    /* ========================== */
    $('#btnConfirm').on('click', function(e){
        var s    = $(document.forms[0]).serialize()
        var body = encodeURIComponent("\n\n" + s.replace(/&/g,'\n'))
        var mailto="mailto:build@sharktailguitars.com?subject=Custom build&body=" +
                   "Hello, here is my custom config, make it so!"
        $(this).attr('href',mailto + body)
    })
    
    </script>
    <script>
    /* =================================== */
    /* ::::::: Load the Whole Page ::::::: */
    /* =================================== */
    $(window).load(function () {
        // will first fade out the loading animation
        jQuery("#loading-animation").fadeOut();
        // will fade out the whole DIV that covers the website.
        jQuery("#preloader").delay(600).fadeOut("slow");
    });
    </script>
    
    <script>
    /* ========================== */
    /* ::::::: Backstrech ::::::: */
    /* ========================== */
    // You may also attach Backstretch to a block-level element
    $("header").backstretch("../../../img/shark/bg/sea.jpg");
    $("#scene").backstretch("../../../img/shark/bg/wood.png");
    
    </script>
    
    <script>
    /* ======================== */
    /* ::::::: Swipebox ::::::: */
    /* ======================== */
    ;( function( $ ) {
        'use strict';
        $( '.swipebox' ).swipebox( {
            loopAtEnd: true // true will return to the first image after the last image is reached
        } );
    } )( jQuery );
    </script>
    
    <script>
    /* ============================== */
    /* ::::::: Firefly effect ::::::: */
    /* ============================== */
    // $(window).load(function() {
    //     'use strict';
    //     $.firefly({
    //         color: '#ddd',
    //         minPixel: 1,
    //         maxPixel: 3,
    //         total : 50,
    //         on: 'header'
    //     });
    // });
    </script>
    
    <script>
    /* ============================= */
    /* ::::::: Smooth scroll ::::::: */
    /* ============================= */
    smoothScroll.init({
        speed: 800, // Integer. How fast to complete the scroll in milliseconds
        easing: 'easeInOutCubic', // Easing pattern to use
        updateURL: false, // Boolean. Whether or not to update the URL with the anchor hash on scroll
    });
    </script>
    
    <script>
    /* ============================== */
    /* ::::::: Scroll Reveal :::::::: */
    /* ============================== */
    (function($) {
        'use strict';
        // The starting defaults.
            var config = {
            after: '0.2s',
            over: '1.66s',
        };
        window.scrollReveal = new scrollReveal({ reset: true, move: '100px' });
    })();
    </script>
    
    <script>
    /* ================================= */
    /* ::::::: Subscrition form :::::::: */
    /* ================================= */
    // $('form#subscribe').submit(function(e){
    //     e.preventDefault();
    //     $.post($(this).attr('action'),$(this).serialize(),function(data){
    //         $('input#newsletterText').val('').attr('placeholder',data);
    //     });
    // });
    </script>
    
    <script>
    /* =========================== */
    /* ::::::: Email form :::::::: */
    /* =========================== */
    // $('form#messagecontact').submit(function(e){
    //     e.preventDefault();
    //     $.post($(this).attr('action'),$(this).serialize(),function(data){
    //         $('div#messages').html(data);
    //     });
    // });
    </script>
  </body>
</html>
