<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- *** START CONTACT SECTION *** -->
    <section id='contact'>
      <div class='container text-center'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='title-light text-center'>
              <!-- TITLE -->
              <h2 data-sr='enter left please, and hustle 20px'>Hello! We would be more than happy to chat with you!</h2>
              <!-- CONTENT -->
              <p class='col-md-6 col-md-offset-3' data-sr='wait 0.4s and then ease-in-out 100px'>If you want to recieve monthly updates from us just pop your email in the box. We think that spam is for jerks. And jerks we are not.</p>
            </div>
          </div>
          <div class='col-md-12' data-sr='wait 0.4s and then ease-in-out 100px'>
            <!-- START CONTACT FORM -->
            <form action='php/contact.php' id='messagecontact' method='post'>
              <div id='messages'></div>
              <!-- NAME -->
              <div class='col-md-3 form-group wow slideInRight'>
                <input class='form-control' name='name' placeholder='Full name' required='required' type='text'>
              </div>
              <!-- EMAIL -->
              <div class='col-md-3 form-group wow slideInRight'>
                <input class='form-control' name='email' placeholder='Email Address' required='required' type='email'>
              </div>
              <!-- MESSAGE -->
              <div class='col-md-3 form-group wow slideInRight'>
                <input class='form-control' name='message' placeholder='Your message or question' required='required' rows='3'>
              </div>
              <!-- BUTTON SUBMIT -->
              <div class='col-md-3 wow slideInRight'>
                <button class='btn btn-default' id='gform_submit_button_1' type='submit'>Send my message</button>
              </div>
            </form>
            <!-- END CONTACT FORM -->
          </div>
        </div>
      </div>
    </section>
    <!-- *** END CONTACT SECTION *** -->
  </body>
</html>
