<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- *** START SCREENSHOTS SECTION *** -->
    <section id='screenshots'>
      <div class='container'>
        <div class='row'>
          <div class='col-md-12'>
            <div class='title-light text-center'>
              <!-- TITLE -->
              <h2 data-sr='enter left please, and hustle 20px'>The screenshot gallery</h2>
              <!-- CONTENT -->
              <p class='col-md-6 col-md-offset-3' data-sr='wait 0.4s and then ease-in-out 100px'>This easy shortcode is amazing. If you want to show your app just pop in the screenshots and the magic happens.</p>
            </div>
          </div>
          <div class='col-md-4 col-md-offset-4' data-sr='wait 0.4s and then ease-in-out 100px'>
            <div class='carousel slide' data-ride='carousel'>
              <!-- Indicators -->
              <ol class='carousel-indicators'>
                <li class='active' data-slide-to='0' data-target='#carousel-example-generic'></li>
                <li data-slide-to='1' data-target='#carousel-example-generic'></li>
                <li data-slide-to='2' data-target='#carousel-example-generic'></li>
                <li data-slide-to='3' data-target='#carousel-example-generic'></li>
                <li data-slide-to='4' data-target='#carousel-example-generic'></li>
              </ol>
              <!-- Wrapper for slides -->
              <div class='carousel-inner'>
                <div class='item active'>
                  <img alt='slider' src='img/slider/1.png'>
                </div>
                <div class='item'>
                  <img alt='slider' src='img/slider/2.png'>
                </div>
                <div class='item'>
                  <img alt='slider' src='img/slider/3.png'>
                </div>
                <div class='item'>
                  <img alt='slider' src='img/slider/4.png'>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- *** End SCREENSHOTS SECTION *** -->
  </body>
</html>
