<!DOCTYPE html>
<html lang='en-us'>
  <head>
    <meta charset='utf-8'>
      <title>Custom Modern Ergonomic Guitars</title>
    </meta>
    <meta content='Custom Modern Guitars' name='description'>
    <meta content='width=device-width, initial-scale=1.0' name='viewport'>
    <meta content='' name='author'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
    <link href='../../../img/shark/logo/logo.png' rel='shortcut icon' type='image/x-icon'>
    <link href="../../../css/all.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <section id='conciere'>
      <div class='container'>
        <h2 data-sr='enter top please, and hustle 20px'>Conciere service</h2>
        <p data-sr='wait 0.4s and then ease-in-out 100px'>
          When you order a custom guitar a conciere will be assigned to your guitar and will orchestrate the process. You can call or email your conceire at any time.
        </p>
        <p data-sr='wait 0.4s and then ease-in-out 100px'>
          Now that is service.
        </p>
      </div>
    </section>
  </body>
</html>
